In [0]:
import pandas as pd
from scipy.stats import f_oneway

#let's load the dataset
rate = pd.read_csv('rate_by_city.csv')
rate

     Rate  City
0   13.75     1
1   13.75     1
2   13.50     1
3   13.50     1
4   13.00     1
5   13.00     1
6   13.00     1
7   12.75     1
8   12.50     1
9   14.25     2
10  13.00     2
11  12.75     2
12  12.50     2
13  12.50     2
14  12.40     2
15  12.30     2
16  11.90     2
17  11.90     2
18  14.00     3
19  14.00     3
20  13.51     3
21  13.50     3
22  13.50     3
23  13.25     3
24  13.00     3
25  12.50     3
26  12.50     3
27  15.00     4
28  14.00     4
29  13.75     4
30  13.59     4
31  13.25     4
32  12.97     4
33  12.50     4
34  12.25     4
35  11.89     4
36  14.50     5
37  14.00     5
38  14.00     5
39  13.90     5
40  13.75     5
41  13.25     5
42  13.00     5
43  12.50     5
44  12.45     5
45  13.50     6
46  12.25     6
47  12.25     6
48  12.00     6
49  12.00     6
50  12.00     6
51  12.00     6
52  11.90     6
53  11.90     6

In [0]:
rate['city_count'] = rate.groupby('City').cumcount()
rate_pivot = rate.pivot(index='city_count', columns='City', values='Rate')
rate_pivot.columns = ['City_'+str(x) for x in rate_pivot.columns.values]
rate_pivot

            City_1  City_2  City_3  City_4  City_5  City_6
city_count
0            13.75   14.25   14.00   15.00   14.50   13.50
1            13.75   13.00   14.00   14.00   14.00   12.25
2            13.50   12.75   13.51   13.75   14.00   12.25
3            13.50   12.50   13.50   13.59   13.90   12.00
4            13.00   12.50   13.50   13.25   13.75   12.00
5            13.00   12.40   13.25   12.97   13.25   12.00
6            13.00   12.30   13.00   12.50   13.00   12.00
7            12.75   11.90   12.50   12.25   12.50   11.90
8            12.50   11.90   12.50   11.89   12.45   11.90

In [0]:
f_oneway(rate_pivot["City_1"],rate_pivot.City_2,rate_pivot.City_3,rate_pivot.City_4,rate_pivot.City_5,rate_pivot.City_6)
#type(rate_pivot.City_1)

pandas.core.series.Series

In [0]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Rate ~ C(City)', data=rate).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

             sum_sq    df         F    PR(>F)
C(City)   10.945667   5.0  4.829385  0.001175
Residual  21.758133  48.0       NaN       NaN

In [0]:
from scipy.stats import linregress

auto = pd.read_csv('auto-mpg.csv')
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

In [0]:
slope, intercept, r_value, p_value, std_err = linregress(auto.acceleration, auto.mpg)
slope, intercept, r_value, p_value, std_err

(1.1912045293502274,
 4.9697930042539085,
 0.4202889121016507,
 1.8230915350787203e-18,
 0.12923643283101396)

In [0]:
import statsmodels.api as sm

X = sm.add_constant(auto.acceleration) # We must add the intercept using the add_constant function
Y = auto.mpg
X

     const  acceleration
0      1.0          12.0
1      1.0          11.5
2      1.0          11.0
3      1.0          12.0
4      1.0          10.5
..     ...           ...
393    1.0          15.6
394    1.0          24.6
395    1.0          11.6
396    1.0          18.6
397    1.0          19.4

[398 rows x 2 columns]

In [0]:
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.175
Method:                 Least Squares   F-statistic:                     84.96
Date:                Fri, 05 Jun 2020   Prob (F-statistic):           1.82e-18
Time:                        15:24:45   Log-Likelihood:                -1343.9
No. Observations:                 398   AIC:                             2692.
Df Residuals:                     396   BIC:                             2700.
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            4.9698      2.043      2.432      0.015       0.953       8.987
acceleration     1.1912      0.129      9.217      0.000       0.937       1.445
==============================================================================
Omnibus:                       17.459   Durbin-Watson:                   0.677
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.214
Skew:                           0.497   Prob(JB):                     0.000111
Kurtosis:                       2.670   Cond. No.                         91.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [0]:
X = sm.add_constant(auto[['cylinders', 'weight', 'acceleration']]) # adding a constant
Y = auto.mpg

X

     const  cylinders  weight  acceleration
0      1.0          8    3504          12.0
1      1.0          8    3693          11.5
2      1.0          8    3436          11.0
3      1.0          8    3433          12.0
4      1.0          8    3449          10.5
..     ...        ...     ...           ...
393    1.0          4    2790          15.6
394    1.0          4    2130          24.6
395    1.0          4    2295          11.6
396    1.0          4    2625          18.6
397    1.0          4    2720          19.4

[398 rows x 4 columns]

In [0]:
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     306.7
Date:                Fri, 05 Jun 2020   Prob (F-statistic):          1.14e-102
Time:                        15:27:44   Log-Likelihood:                -1142.9
No. Observations:                 398   AIC:                             2294.
Df Residuals:                     394   BIC:                             2310.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           42.3811      1.960     21.627      0.000      38.528      46.234
cylinders       -0.4827      0.302     -1.599      0.111      -1.076       0.111
weight          -0.0065      0.001    -11.342      0.000      -0.008      -0.005
acceleration     0.2034      0.091      2.236      0.026       0.025       0.382
==============================================================================
Omnibus:                       34.469   Durbin-Watson:                   0.816
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.516
Skew:                           0.654   Prob(JB):                     1.31e-10
Kurtosis:                       4.016   Cond. No.                     2.82e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.82e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""